<section class="section container-fluid">
  <h1 class="page-header">Immunization Connect Ontario</h1>  
</section>
<div ui-content-for="title">
  <span>Immunization Connect Ontario</span>
</div>

<div class="scrollable">
 <div class="scrollable-content section">
   
  <form role="form" name="myForm" ng-submit='submit()'>
    <fieldset>


     
        <p>All Fields marked with an asterisk are required </p>
        <br>
 
                  <accordion close-others="false">
      <accordion-group heading="Person Demographics">
    <div class="form-group">
           <label>Health Card Number</label>
          <input type="text" 
                 class="form-control"
                 placeholder="12345678"
                 ng-disabled="dem.done"
                 ng-model="dem.health"
                 ng-maxlength="100"
                 name="hcn">
        </div>
          <div ng-messages="myForm.hcn.$error" style="color:maroon" role="alert">
              <p ng-message="maxlength">Your field is too long</p>
          </div>
	 <div class="form-group">
          <label class="red"><i class="fa fa-asterisk"></i>Legal First Name</label>
          <input type="text" 
                 class="form-control"
                 placeholder="FirstName"
                 ng-model="dem.fname"
                 name= "first"
                 ng-maxlength="100"
                 required
                 ng-disabled="dem.done"
                 ng-model-options="{ updateOn: 'default blur'}">
        </div>
           <div ng-messages="myForm.first.$error" style="color:maroon" role="alert">
              <p ng-message="required"></p>
               <p ng-message="maxlength">Your field is too long</p>
          </div>
          	 <div class="form-group">
          <label>Legal Middle Name</label>
          <input type="text" 
                 class="form-control"
                 placeholder="MiddleName"
                 ng-model="dem.mname"
                 name= "middle"
                 ng-maxlength="100"
                 ng-disabled="dem.done"
                 ng-model-options="{ updateOn: 'default blur'}">
        </div>
          <div ng-messages="myForm.middle.$error" style="color:maroon" role="alert">
               <p ng-message="maxlength">Your field is too long</p>
          </div>
        
                <div class="form-group">
          <label class="red"><i class="fa fa-asterisk"></i>Legal Last Name</label>
          <input type="text" 
                 class="form-control"
                 placeholder="LastName"
                 ng-model="dem.lname"
                 name="last"
                 ng-maxlength="100"
                 required
                 ng-model-options="{ updateOn: 'default blur'}"
                 ng-disabled="dem.done">
        </div>
          <div ng-messages="myForm.last.$error" style="color:maroon" role="alert">
              <p ng-message="required"></p>
               <p ng-message="maxlength">Your field is too long</p>
          </div>
        
        <div class="form-group">
        <label class="red"><i class="fa fa-asterisk"></i>Gender</label>    
        <select class="form-control" ng-disabled="dem.done" required ng-model="dem.gender" name="sex">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
            <option value="Female">Undefined</option>
            </select>
        </div>
          
        <div ng-messages="myForm.sex.$error" style="color:maroon" role="alert">
              <p ng-message="required"></p>
          </div>  
          
        <div class="form-group" required>
        <label>Date of Birth</label>
            <input class=" form-control" type="text" name="dob" placeholder="Date of Birth" ng-disabled="dem.done"datepicker-popup='{{format}}' dateOptions='dateOptions' ng-model="dem.day" is-open="opened" close-text="Close" required>
            </div>
          
           <div ng-messages="myForm.dob.$error" style="color:maroon" role="alert">
              <p ng-message="required"></p>
          </div>  
          
           <div class="form-group">
          <label class="red"><i class="fa fa-asterisk"></i>Address Type</label>
        <select class="form-control" ng-disabled="dem.done" required ng-model="dem.addressType" name="aT">
            <option value="Home">Home/Residence</option>
            <option value="Temporary Address">Temporary Address</option>
             <option value="No Fixed Address">No Fixed Address</option>
            <option value="Work/Business">Work/Business</option>
             <option value="Vacation Home">Vacation Home</option>
            <option value="Postal Address">Postal Address</option>
            </select>
        </div>
          
           <div ng-messages="myForm.aT.$error" style="color:maroon" role="alert">
              <p ng-message="required"></p>
          </div>  
          
          <div class="form-group">
          <label>Unit Number</label>
          <input type="text" 
                 class="form-control"
                 placeholder="500"
                 ng-model="dem.unumber"
                 name="UnitNumber"
                 ng-disabled="dem.done"
                 ng-maxlength="100">
        </div>
          <div ng-messages="myForm.UnitNumber.$error" style="color:maroon" role="alert">
              <p ng-message="maxlength">Your field is too long</p>
          </div>  
          
                  <div class="form-group">
          <label>Street Number</label>
          <input type="text" 
                 class="form-control"
                 placeholder="500"
                 ng-model="dem.stnum"
                 name="stNumber"
                 ng-disabled="dem.done"
                 ng-maxlength="100">
        </div>
          <div ng-messages="myForm.stNumber.$error" style="color:maroon" role="alert">
              <p ng-message="maxlength">Your field is too long</p>
          </div> 
          
                      <div class="form-group">
                  <label>Street Name</label>
          <input type="text" 
                 class="form-control"
                 placeholder=""
                 ng-model="dem.streetName"
                 name="StreetName"
                 ng-disabled="dem.done"
                 ng-maxlength="100">
        </div>
          
              <div ng-messages="myForm.StreetName.$error" style="color:maroon" role="alert">
        <p ng-message="maxlength">Your field is too long</p>          
          </div> 
          
                     <div class="form-group">
          <label>Street Type</label>
        <select class="form-control" ng-disabled="dem.done" ng-model="dem.StreetType" name="sT"><option ng-repeat="st in sts track by $index" value="{{st}}">{{st}}</option>
            </select>
        </div>
          
          <div class="form-group">
          <label>Street Direction</label>
          <select class="form-control" ng-disabled="dem.done" required ng-model="dem.streetDirection">
            <option value="East">East</option>
            <option value="North">North</option>
            <option value="NorthEast">NorthEast</option>
             <option value="NorthWest">NorthWest</option>
            <option value="South">South</option>
             <option value="SouthEast">SouthEast</option>
            <option value="SouthWest">SouthWest</option>
            <option value="West">West</option>
            </select>
        </div>  
          
          
        <div class="form-group">
          <label>PO Box</label>
          <input type="text" 
                 class="form-control"
                 placeholder=""
                 ng-model="poBox"
                 name="POB"
                 ng-disabled="dem.done"
                 ng-maxlength="100">
        </div>
           <div ng-messages="myForm.POB.$error" style="color:maroon" role="alert">
               <p ng-message="maxlength">Your field is too long</p>
          </div>  
          
                  <div class="form-group">
                  <label>STN</label>
          <input type="text" 
                 class="form-control"
                 placeholder=""
                 ng-model="dem.STN"
                 name="STN"
                 ng-disabled="dem.done"
                 ng-maxlength="100">
        </div>
              <div ng-messages="myForm.STN.$error" style="color:maroon" role="alert">
        <p ng-message="maxlength">Your field is too long</p>          
          </div> 
          
                  <div class="form-group">
                  <label>RPO</label>
          <input type="text" 
                 class="form-control"
                 placeholder="First"
                 ng-model="dem.RPO"
                 name="RPO"
                 ng-disabled="dem.done"
                 ng-maxlength="100">
        </div>
              <div ng-messages="myForm.RPO.$error" style="color:maroon" role="alert">
        <p ng-message="maxlength">Your field is too long</p>          
          </div> 
          
                  <div class="form-group">
                  <label>Rural Route</label>
          <input type="text" 
                 class="form-control"
                 placeholder="First"
                 ng-model="dem.Ruralroute"
                 name="RuralRoute"
                 ng-disabled="dem.done"
                 ng-maxlength="100">
        </div>
              <div ng-messages="myForm.RuralRoute.$error" style="color:maroon" role="alert">
        <p ng-message="required"></p>
        <p ng-message="maxlength">Your field is too long</p>          
          </div> 
          
          <div class="form-group">
            <label class="red"><i class="fa fa-asterisk"></i>City</label>
          <input class="form-control" ng-model="dem.city" name="City"
                 ng-disabled="dem.done"
                 required typeahead="city for city in cities | filter:$viewValue|limitTo:8">
        </div>
               <div ng-messages="myForm.City.$error" style="color:maroon" role="alert">
        <p ng-message="required"></p>
          </div> 
          
                  <div class="form-group">
          <label>Province/Territory</label>
    <select class="form-control" ng-disabled="dem.done" name="province" ng-model="dem.prov"required>
            <option value="Ontario">Ontario</option>
            <option value="British Columbia">British Columbia</option>
            <option value="Other">Other</option>
            <option value="Undefined">Undefined</option>
            </select>
        </div>

          <div ng-messages="myForm.province.$error" style="color:maroon" role="alert">
        <p ng-message="required"></p>
          </div>
          
        <div class="form-group">
        <label class="red"><i class="fa fa-asterisk"></i>Postal Code</label>
          <input type="text" 
                 class="form-control"
                 placeholder="A#A#A#"
                 ng-model="dem.poCode"
                 name="postalCode"
                 ng-disabled="dem.done"
                 ng-pattern="/^[A-Z]\d[A-Z]\d[A-Z]\d$/"
                 required>
        </div>
               <div ng-messages="myForm.postalCode.$error" style="color:maroon" role="alert">
        <p ng-message="required"></p>
        <p ng-message="pattern">Incorrect Format</p>       
          </div>  
<!--          <span class="red error"  ng-show="myForm.postalCode.$error.pattern"><em>Incorrect format</em></span>-->
                   
          
          <div class="form-group">
              <label class="red"><i class="fa fa-asterisk"></i>Country</label>
              <input type="text" class="form-control" ng-model="dem.country" name="Country" ng-disabled="dem.done" required>
          </div>
          
          
        <div class="form-group">
                  <label class="red"><i class="fa fa-asterisk"></i>Submitter First Name</label>
          <input type="text" 
                 class="form-control"
                 placeholder="First"
                 ng-model="dem.SubmitterFN"
                 name="SubmitterFirstName"
                 ng-disabled="dem.done"
                 required
                 ng-maxlength="100">
        </div>
              <div ng-messages="myForm.SubmitterFirstName.$error" style="color:maroon" role="alert">
        <p ng-message="required"></p>
        <p ng-message="maxlength">Your field is too long</p>          
          </div> 
        
        <div class="form-group">
                  <label class="red"><i class="fa fa-asterisk"></i>Submitter Last Name</label>
          <input type="text" 
                 class="form-control"
                 placeholder="Last"
                 ng-model="dem.SubmitterLN"
                 name="SubmitterLastName"
                 ng-disabled="dem.done"
                 required
                 ng-maxlength="100">
        </div>
              <div ng-messages="myForm.SubmitterLN.$error" style="color:maroon" role="alert">
        <p ng-message="required"></p>
        <p ng-message="maxlength">Your field is too long</p>          
          </div> 
          
        <div class="form-group">
        <label class="red"><i class="fa fa-asterisk"></i>Submitter Relationship</label>    
        <select class="form-control" ng-disabled="dem.done" required name="subRelationship" ng-model="dem.sr">
            <option value="Parent">Parent</option>
            <option value="Grandparent">Grandparent</option>
            <option value="Legal Guardian">Legal Guardian</option>
            <option value="Nurse">Nurse</option>
            <option value="Doctor">Doctor</option>
            <option value="Self">Self</option>
            <option value="Other">Other</option>
            </select>
        </div>
          <div>
              <p ng-if="sr =='Other'"> Please describe your relationship with the person you are submitting for:</p>
              <textarea ng-if="sr =='Other'"class="form-control" rows="3" required  ng-maxlength="100"></textarea>
          </div>
          {{sr}}
          
               <div ng-messages="myForm.subRelationship.$error" style="color:maroon" role="alert">
        <p ng-message="required"></p>
        <p ng-message="maxlength">Your field is too long</p>          
          </div>
          
        <div class="form-group">
        <label class="red"><i class="fa fa-asterisk"></i>Submitter Phone Number Type</label>    
        <select class="form-control" ng-disabled="dem.done" required name="Spnt" ng-model="dem.SubmitterPhoneNumberType">
            <option value="Home">Home</option>
            <option value="Work">Work</option>
            <option value="Mobile">Mobile</option>
            <option value="Other">Other</option>
            </select>
        </div>
              
               <div ng-messages="myForm.Spnt.$error" style="color:maroon" role="alert">
        <p ng-message="required"></p>       
          </div>
                      
          <div class="form-group">
         </br>
          <label class="red"><i class="fa fa-asterisk"></i>Submitter Phone Number</label>
          <input type="text" 
                 class="form-control"
                 placeholder="xxx-xxx-xxxx"
                 ng-disabled="dem.done"
                 required
                 name="Spn"
                 ng-model="dem.SubmitterPhoneNumber">
        </div>
          
          <div ng-messages="myForm.Spn.$error" style="color:maroon" role="alert">
        <p ng-message="required"></p>       
          </div>
        
                <div class="form-group">
        <label>Submitter Phone Number Type</label>    
        <select class="form-control" ng-disabled="dem.done" name="Spnt2" ng-model="SubmitterPhoneNumberType2">
            <option value="Home">Home</option>
            <option value="Work">Work</option>
            <option value="Mobile">Mobile</option>
            <option value="Other">Other</option>
            </select>
        </div>
          
          <div class="form-group">
         </br>
          <label>Submitter Phone Number</label>
          <input type="text" 
                 class="form-control"
                 placeholder="xxx-xxx-xxxx"
                 ng-disabled="dem.done"
                 name="">
        </div>
        
        <div class="form-group">
          <label>Submitter Email Address</label>
          <input type="email" 
                 class="form-control"
                 placeholder="Enter email"
                 ng-disabled="dem.done"
                 ng-maxlength="100"
                 name="sea"
                 ng-model="dem.sEA">
        </div>
                       <div ng-messages="myForm.sea.$error" style="color:maroon" role="alert">
        <p ng-message="maxlength">Your field is too long</p>       
          </div>
                      
        <div class="form-group">
          <label>School/ Day Care</label>
          <input type="text" 
                 class="form-control"
                 placeholder="St.Ignatious of Loyola"
                 ng-disabled="dem.done">
        </div>
        
        <div class="form-group">
          <label>School/Day Care City</label>
          <input type="text" 
                 class="form-control"
                 placeholder="Toronto"
                 ng-disabled="dem.done">
        </div>
        
        <!--
        <input class="form-control" type="text" id="defaultReal" name="defaultReal"></p>
      <button class="btn btn-primary" id="attempt" onclick="check()">Attempt</button>
      <em> <p id="help"></p></em>-->
                      <button class="btn btn-primary pull-left" ng-click="edit()" ng-disabled="!dem.done">Edit</button>
                      <button class="btn btn-primary pull-right" ng-click="update()" ng-disabled="dem.done">Done</button>                      
                      
    </accordion-group>
          
 <accordion-group heading="Immunization(s)">
     <!--<button class="btn btn-default form-control" ng-click="open()" ng-disabled="imm.done">Report Vaccination(s)</button>-->
     <!--Accordion body-->
     <br>
     <br>
    
         <div class="container-fluid">
	<div class="vaccList client">
		<div id="tableDiv" class="section group">
			<table width="1112px" class="table1"><!-- table-striped">-->
				<thead>
					<th id="date" style="width:100px">
					<p class="h1">Date</p><p class="h2">(yyyy-mm-dd)</p>
					</th>
					<th id="vaccName" style="width:150px">
					<p class="h1">Vaccine brand name</p><p class="h2">(must be completed)</p>
					</th>
					<th colspan="{{vaccList.length}}">
						<table class="table1"><thead>
							<tr>
							<th id="vaccineList" style="background-color:rgba(211,211,211, 0.6)" colspan="{{vaccList.length}}">Vaccine protects against the following diseases:</th>
							</tr>
							<tr>
							<th style="width:30px" id="vaccineList" ng-repeat="vacc in vaccList"><svg height="90" width="20">
								<text transform="translate(15,90)rotate(-90)" fill="black" y="0" x="0">{{vacc}}</text></svg>
							</th>
					
							</tr>
							
							</thead>
						</table>
						
					</th>
					<th id="other" style="width:150px">
						<p class="h1">Other Details</p><p class="h2">(specify)</p>
					</th>
							<th id="vaccName" style="width:150px">
					<p class="h1">Delete Row</p>
					</th>
				</thead>
				<tbody >
					<tr  ng-repeat="record in records track by $index">
					<td><input type="text" class="form-control" datepicker-popup='{{format}}' dateOptions='dateOptions' ng-model="hist[$index].date" is-open="opened" close-text="Close" /></td>
					<td><input class="form-control" ng-model="historical[$index].agent"  ng-blur="checkdis(record.id)"
                  typeahead="agent for agent in agents | filter:$viewValue|limitTo:8"></td>
					<td   class="td1" ng-repeat= "dis in diseases[$index].entry">
					<input type="checkbox" class=" input-group-lg form-control" ng-model="dis.checked" ng-click="checkvac(record.id)">
					
				
					</td>
					<td><input type="text" class="form-control" width="auto"height="auto"></input></td>
					</td>
					<td>
					<button type="button" class=" form-control btn btn-danger" aria-label="center Align"  ng-click="delete(record.id)">
					<span class="glyphicon glyphicon-remove"></span>
					</button>

					
					</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--		<svg  ng-If="record.diseaseCol[dis] == 'y'" width="15" height="15"><circle r="4" stroke="black" stroke-width="2" transform="translate(10, 10)" fill="black"</circle></svg>-->

 <pre>{{records| json }}</pre>
<button class="btn btn-primary" ng-click="add()">Vaccine Entry</button>
<button class="btn btn-primary" ng-click="add()">Add Entry</button>
     
                   <label ng-if="info.show">Summary</label>
<table id="sumTable" class="table table-striped" ng-if="info.show">
    <tr>
        <th>Agent
        <th>Date Administered
        <th>Provider
        <th>Lot #
    </tr>
    <tr ng-repeat="s in sums">
        <td>{{s.Agent}}</td>
        <td>{{s.Date}}</td>
        <td>{{s.Provider}}</td>
        <td>{{s.LotNumber}}</td>
    </tr>

</table>
<br>
     <button class="btn btn-primary pull-right" ng-click="mupdate()" ng-disabled="imm.done">Done</button>
     <button class="btn btn-primary pull-left" ng-click="medit()" ng-disabled="!imm.done">Edit</button>
    </accordion-group>
        <!-- CSV, send to server -->
    <accordion-group heading="Verify and Submit">
        <!--<button class="btn btn-default form-control" ng-csv="getArray" csv-header="['Name', 'Health Card Number']" filename="test.csv">Export to CSV</button>-->
        <h4>CAPTCHA</h4>
        <br>
        <div class="g-recaptcha" data-sitekey="6Lc7gAoTAAAAAGFDINzUDv5G40oe8DyzTGHJA_pv"></div>
        <button class="btn btn-default form-control" ng-click="pload()">LOAD JSON</button>
        <p id="json"></p>
  </accordion> 
    <div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Vaccine information</h3>
        </div>
        <div class="modal-body" ng-show="myForm.$invalid"><h4>Please fill out "Person Demographics" if you wish to proceed</h4></div>
        <div class="modal-body" ng-show="myForm.$valid">
            <!-- modal body-->
            <div class="container-fluid">
<div class="row">
    <div class = "col-xs-6">
           <div class="form-group" >
               <br>
        <label class="red"><i class="fa fa-asterisk"></i>Immunizations</label> 
          <select class="form-control" ng-model="info.imm" >
<option value="1327833">ap-unspecified</option>
<option value="1323270">d-unspecified</option>
<option value="1323271">H1N1-unspecified</option>
<option value="1323237">HB-unspecified</option>
<option value="1323269">hpv-unspecified</option>
<option value="1323239">inf-unspecified</option>
<option value="1323267">men-AC unspecified</option>
<option value="1323266">men-ACYW135 unspecified</option>
<option value="1323306">men-c-unspecified</option>
<option value="1323273">men-p-AC unspecified</option>
<option value="1323282">men-p-A unspecified</option>
<option value="1323307">men-p-unspecified</option>
<option value="1323268">men-unspecified</option>
<option value="1323311">pertussis-unspecified</option>
<option value="1323277">pneu-c-unspecified</option>
<option value="1323251">pneu-p-unspecified</option>
<option value="1323252">pneu-unspecified</option>
<option value="1323246">p-unspecified</option>
<option value="1323247">rota-unspecified</option>
<option value="1323244">typh-unspecified</option>
                         </select>

            </div>
    </div> 
    <div class = "col-xs-6">
     <div class="form-group">
        <label class="red"> <i class="fa fa-asterisk"></i> Date<br>Administered</label>
              <input type="text" class="form-control" datepicker-popup='{{format}}' dateOptions='dateOptions' max-date="maxDate" ng-model="info.day" is-open="opened" close-text="Close" />
                  
    </div>
            </div>
                </div>
    <div class="row">
        <div class="col-xs-6">
        <div class="form-group ">
          <label>Provider</label>
          <input type="text"
                 ng-model="info.provider"
                 class="form-control"
                 placeholder="Enter Provider">
        </div>
        </div>

        <div class="form-group">
            <div class="col-xs-6">
          <label>Lot Number</label>
          <input type="text"
                 ng-model="info.lotNumber"
                 class="form-control"
                 placeholder="Enter LotNumber">
        </div>
        </div>
         </div>
            </div>
<button class="form-control btn btn-primary" ng-click="addAgent()">Add agent</button>
        </div>

            
        
    </script>
    </div>
    <hr>

    <div ui-content-for="navbarAction">
      <a class='btn' ng-click='submit()'>Verify and Submit</a>
    </div>

<script>
    $(document).ready(function(){
//$(".combobox").combobox();
        $("input").click(function(){
        $(".datepicker").pickadate({
         selectYears: 100,
  selectMonths: true
            });  

        });
    }); //this was missing
</script>
    </fieldset>

    <div ui-content-for="navbarAction">
      <a class='btn' ng-click='submit()'>Submit</a>
    </div>

  </form>
 </div>
</div>
</div>
      <!--  <select class="form-control col-sm-2 col-md-2" ng-model="info.day">
            <option  ng-repeat="day in days track by $index">{{day}}</option>
            </select>
            <select class="form-control col-sm-2 col-md-2" ng-model="info.month">
            <option   ng-repeat="n in [01,02,03,04,05,06,07,08,09,10,11,12]  track by $index">{{n}}</option>
            </select>
                    <select class="form-control col-sm-2 col-md-2" ng-model="info.year">
            <option   ng-repeat="n in [1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015]  track by $index">{{n}}</option>
    </select>-->
<!--
    <div class="section section-break">
      <a href="" 
          data-toggle="modal"
          data-target="#modal1">Show Modal</a>
    </div>

   <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-label>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Additional information</h4>
      </div>
      <div class="modal-body">
        <p>Please complete any additional information if possible</p>
      </div>
      <div class="modal-footer">
        <button tyoe="button" data-dismiss="modal" class="btn btn-default">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div ui-content-for="modals">
  <div ng-include="'modal1.html'"></div>
  <div ng-include="'modal2.html'"></div>
</div>-->
        
       
      <!--      </br>
        <select class="form-control col-md-2 col-sm-2">
            <option value="number"  ng-repeat="day in days track by $index">{{day}}</option>
            </select>
            <select class="form-control col-md-2 col-sm-2" >
            <option value="number"  ng-repeat="n in [01,02,03,04,05,06,07,08,09,10,11,12]  track by $index">{{n}}</option>
            </select>
                    <select class="form-control col-md-2 col-sm-2"  >
            <option value="number"  ng-repeat="n in [1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015]  track by $index">{{n}}</option>
            </select>-->
        
     
   